<div style="margin: auto 25%; width: 50%; ">

  <label>Name:</label>
  <input type="text" [(ngModel)]="student.name" />

  <br />

  <label>Date of birth:</label>
  <input type="date" [(ngModel)]="student.dateOfBirth" />

  <br />

  <label>Mark:</label>
  <input type="number" [(ngModel)]="student.mark" />

  <br />

  <button (click)="this.addStudent()">Add Student</button>

  <br /><br />

  <button (click)="erase()">Delete</button>

  <br />

  <div style="width: 500px; height: 200px;  overflow: auto;" >

  <table class="table table-sm"  >

    <thead>
    <tr>
      <th scope="col">__</th>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Mark</th>
    </tr>
    </thead>


    <tbody>
    <tr *ngFor="let item of items">

      <td> <input type="checkbox" [checked]="item.checked"
                  (change)="item.checked = !item.checked" > </td>
      <td> {{item.id}} </td>
      <td> {{item.name}} </td>
      <td> {{item.date}} </td>
      <td> {{item.mark}} </td>

    </tr>
    </tbody>

  </table>
  
  </div>
  <button (click)="this.search()">More</button>

</div>
